<br>

<table class="table table-bordered  table-sm">
    <thead>
        <tr class="table" style="background-color: #ecf0f1;">
            <th colspan="2" style="border-right: none;">RSUP SANGLAH DENPASAR</th>
            <th colspan="3" style="text-align: right; border-left: none;">RM.1.4/IC.REV.1/2019</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="5">
                <div class="row">
                    <div class="col-2">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <img src="img/rsup.png" style="width: 65px; height: 65px;" alt="rsup">
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <span><p style="text-align: center;">PERSETUJUAN TINDAKAN ANASTHETIC</p></span><span><p style="font-style: italic; margin: 0; text-align: center;">AGREEMENT FOR ANASTHETIC ACTION</p></span>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="5" style="text-align: center;"><span><p style="margin: 0;">PEMBERIAN INFORMASI</p></span><span><p style="font-style: italic; margin: 0;">Information</p></span></th>
        </tr>
        <tr>
            <td colspan="2"><span><p style="margin: 0;">Dokter Pelaksana Tindakan</p></span><span><p style="font-style: italic; margin: 0;">Operator</p></span></td>
            <td colspan="3" style="text-align: left;">Dr.</td>
        </tr>
        <tr>
            <td colspan="2"><span><p style="margin: 0;">Penerima Informasi/Pemberi Persetujuan</p></span><span><p style="font-style: italic; margin: 0;">Recipient informatin/opproved by</p></span></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <th style="text-align: center; width: 50px;">No</th>
            <th style="text-align: center; width: 250px;"><span><p style="margin: 0;">Jenis Informasi</p></span><span><p style="font-style: italic; margin: 0;">Information</p></span></th>
            <th colspan="2" style="text-align: center;"><span><p style="margin: 0;">Isi Informasi (Oleh Dokter)</p></span><span><p style="font-style: italic; margin: 0;">Information Detail (by doctor)</p></span>
                <span><p style="font-style: italic; margin: 0;">Catatan : Isi informasi tidak boleh menggunakan singkatan</p></span>
                <span><p style="font-style: italic; margin: 0;">Note : Abreviation is not allowed to be used in information detail</p></span>
            </th>
            <th style="text-align: center; width: 100px;"><span><p style="margin: 0;">Paraf Pasien/Wali</p></span><span><p style="font-style: italic; margin: 0;">Patient/Guardian Signature</p></span></th>
        </tr>
        <tr>
            <td style="text-align: center;">1</td>
            <td>
                <span><p style="margin: 0;">Diagnosis (WD & DD)</p></span>
                <span><p style="margin: 0; font-style: italic;">Diagnosis (working diagnosis & Differential diagnosis)</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, doloremque?</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">2</td>
            <td>
                <span><p style="margin: 0;">Dasar Diagnosis</p></span>
                <span><p style="margin: 0; font-style: italic;">Diagnosis base on</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">3</td>
            <td>
                <span><p style="margin: 0;">Tindakan Kedokteran</p></span>
                <span><p style="margin: 0; font-style: italic;">Medical action</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta laborum nulla, architecto dolorem praesentium unde.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">4</td>
            <td>
                <span><p style="margin: 0;">Indikasi Tindakan</p></span>
                <span><p style="margin: 0; font-style: italic;">Indication</p></span>
            </td>
            <td colspan="2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, dolores quaerat!</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">5</td>
            <td>
                <span><p style="margin: 0;">Tata Cara</p></span>
                <span><p style="margin: 0; font-style: italic;">Procedure</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut laudantium laborum quasi saepe repudiandae facilis aliquam. Eveniet, possimus a.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">6</td>
            <td>
                <span><p style="margin: 0;">Tujuan</p></span>
                <span><p style="margin: 0; font-style: italic;">Purpose</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">7</td>
            <td>
                <span><p style="margin: 0;">Risiko</p></span>
                <span><p style="margin: 0; font-style: italic;">risk</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, saepe!</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">8</td>
            <td>
                <span><p style="margin: 0;">Komplikasi</p></span>
                <span><p style="margin: 0; font-style: italic;">Complication</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">9</td>
            <td>
                <span><p style="margin: 0;">Prognosis</p></span>
                <span><p style="margin: 0; font-style: italic;">Prognosis</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quos officiis facere eaque.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">10</td>
            <td>
                <span><p style="margin: 0;">Alternatif & Risiko</p></span>
                <span><p style="margin: 0; font-style: italic;">Alternatives and risks</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quasi quisquam corrupti quibusdam mollitia rerum. Voluptatem, odio?</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">11</td>
            <td>
                <span><p style="margin: 0;">Perkiraan Biaya</p></span>
                <span><p style="margin: 0; font-style: italic;">Estimated cost</p></span>
            </td>
            <td colspan="2">Lorem, ipsum dolor.</td>
            <td></td>
        </tr>
        <tr>
            <td style="text-align: center;">12</td>
            <td>
                <span><p style="margin: 0;">Lain-lain</p></span>
                <span><p style="margin: 0; font-style: italic;">Others</p></span>
            </td>
            <td colspan="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, laudantium. Distinctio neque deserunt excepturi aspernatur, nam libero unde nemo explicabo sequi fugiat, aperiam reprehenderit dolorem!</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4"><span><p style="text-align: left; margin: 0;">Dengan ini menyatakan bahwa saya telah menerangkan hal-hal diatas secara benar dan jelas dan memberikan kesempatan untuk bertanya dan/atau berdiskusi</p></span>
                <span><p style="font-style: italic;">Hereby declare that I have explained the above things correctly, clearly and provides an opportunity to ask and / or discuss</p></span></td>
            <td><span><p style="text-align: left; margin: 0;">Tanda tangan dokter</p></span><span><p style="font-style: italic;">Signature</p></span></td>
        </tr>
        <tr>
            <td colspan="4"><span><p style="text-align: left; margin: 0;">Dengan ini menyatakan bahwa saya telah menerima informasi sebagaimana diatas yang saya beri paraf di kolom kanannya dan telah memahaminya</p></span>
                <span><p style="font-style: italic;;">Hereby declare that I have explained the above information as I give signature in the right column and have understood</p></span></td>
            <td><span><p style="text-align: left; margin: 0;">Tanda tangan (Pasien/Wali))</p></span><span><p style="font-style: italic;">Signature</p></span></td>
        </tr>
        <tr>
            <th colspan="5"><span><p style="margin: 0; text-align: center;">PERSETUJUAN TINDAKAN ANASTHETIC</p></span><span><p style="font-style: italic; margin: 0; text-align: center;">AGREEMENT FOR ANASTHETIC ACTION</p></span></th>
        </tr>
        <tr>
            <td colspan="5"><span><p style="margin: 0; text-align: left;">Yang bertanda tangan dibawah ini</p></span><span><p style="font-style: italic; margin: 0; text-align: left;">The undersigned is</p></span></td>
        </tr>
        <tr>
            <td colspan="2"><span><p style="margin: 0; text-align: left;">Nama</p></span><span><p style="font-style: italic; margin: 0; text-align: left;">Name</p></span></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="2">
                <span><p style="margin: 0; text-align: left;">Tanggal lahir / Jenis Kelamin</p></span>
                <span><p style="font-style: italic; margin: 0; text-align: left;">Date of birth / Sex</p></span>
            </td>
            <td></td>
            <td colspan="3">
                <div class="row">
                    <div class="col-6">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Pria</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Male</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Wanita</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><span><p style="margin: 0; text-align: left;">Alamat</p></span><span><p style="font-style: italic; margin: 0; text-align: left;">Address</p></span></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="5"><span><p style="margin: 0; text-align: left;">Dengan ini menyatakan persetujuan untuk dilakukan tindakan ...........................................................</p></span>
                <span><p style="font-style: italic; margin: 0; text-align: left;">Hereby certify approval for action</p></span>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <span><p style="margin: 0; text-align: left; font-weight: bold;">Terhadap diri saya */Anak*/Istri*/Suami*/Ayah*/Ibu*/........................saya,</p></span>
                <span><p style="font-style: italic; margin: 0; text-align: left; font-weight: bold;">Of Myself */Child*/Wife*/Husband*/Father*/Mother*/My........................................,</p></span>
                <br>
                <span><p style="margin: 0; text-align: left;">Name/name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : .................................................</p></span>
                <span><p style="margin: 0; text-align: left;">Tanggal lahir/Date of birth &nbsp;&nbsp; : .................................................</p></span>
                <span><p style="margin: 0; text-align: left;">Jenis Kelamin/Sex &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : .................................................</p></span>
                <span><p style="margin: 0; text-align: left;">No Rekam Medis/ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : .................................................</p></span>
                <span><p style="margin: 0; text-align: left; font-style: italic;">Medical Record Number</p></span>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <span><p style="margin: 0; text-align: justify;">Saya memahami perlunya dan manfaat tindakan tersebut sebagaimana telah dijelaskan di atas kepada saya, termasuk
                            risiko dan komplikasi yang mungkin timbul. saya juga menyadari bahwa oleh karena ilmu kedokteran bukanlah ilmu pasti, maka
                            keberhasilan tindakan kedokteran bukanlah keniscayaan, melainkan sangat bergantung kepada izin Tuhan Yang Maha Esa.</p></span>
                <span><p style="margin: 0; text-align: justify; font-style: italic;">I understood the need for and benefits of such procedures as described as above to me, including the risks and complications that
                            may arise. I also realized that because medice is not an exact science, hence the success of the medical act is not an absolute
                            thing, but it is very dependent on the permission of God Almighty.</p></span>
                <br>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="border: none; margin-left: 550px;">
                            <div class="card-body">
                                <span><p style="margin: 0; text-align: center;">Denpasar,..........................pukul.............</p></span>
                                <span><p style="margin: 0; text-align: center; font-weight: bold;">Yang membuat pernyataan</p></span>
                                <span><p style="margin: 0; text-align: center; font-style: italic;">Consignee</p></span>
                                <br>
                                <span><p style="margin: 0; text-align: center;">.......................................</p></span>
                                <span><p style="margin: 0; text-align: center;">Tanda Tangan dan Nama Lengkap</p></span>
                                <span><p style="margin: 0; text-align: center; font-style: italic;">Signature and Full Name</p></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <span><p style="margin: 0; text-align: center; font-weight: bold;">Saksi dari Pihak Rumah Sakit</p></span>
                                <span><p style="margin: 0; text-align: center; font-style: italic;">Hospital's Staff Witness</p></span>
                                <br>
                                <span><p style="margin: 0; text-align: center;">.......................................</p></span>
                                <span><p style="margin: 0; text-align: center;">Tanda Tangan dan Nama Lengkap</p></span>
                                <span><p style="margin: 0; text-align: center; font-style: italic;">Signature and Full Name</p></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card" style="border: none;">
                            <div class="card-body">
                                <span><p style="margin: 0; text-align: center; font-weight: bold;">Saksi dari Pihak Keluarga</p></span>
                                <span><p style="margin: 0; text-align: center; font-style: italic;">Family Witness</p></span>
                                <br>
                                <span><p style="margin: 0; text-align: center;">.......................................</p></span>
                                <span><p style="margin: 0; text-align: center;">Tanda Tangan dan Nama Lengkap</p></span>
                                <span><p style="margin: 0; text-align: center; font-style: italic;">Signature and Full Name</p></span>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br>
<hr>

<script>
    window.print()
</script>